{
  "extends": "standard",
  "plugins": [
    "html"
  ],
  "parser": "babel-eslint",

// 按照视频配置会出错，用vue-eslint-parser检测
  "parserOptions": {
    "parser": "vue-eslint-parser"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
