{
  "extends": ["standard", "eslint:recommended"],
  "plugins": [
    "html"
  ],
  "rules": {
    "no-new": "off" // 允许new
  },

  // 按照视频配置会出错，用vue-eslint-parser检测
  "parser": "vue-eslint-parser",
  "parserOptions": {

  },
  "env": {
    "browser": true,
    "node": true
  }
}
